@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Church Movies</h1>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <img src="https://newsroom.churchofjesuschrist.org/media/640x480/1200x675size-English.jpg" alt="Church logo">
</div>
